.figures-sprite, .figures-arrow-down-no-hole, .figures-arrow-down-with-hole, .figures-arrow-up, .figures-carousel-dots-active, .figures-carousel-dots-inactive, .figures-icon-chart, .figures-icon-cube, .figures-icon-devices, .figures-icon-dialog, .figures-icon-magn-glass, .figures-icon-pencil, .figures-icon-plane, .figures-icon-substrate, .figures-vignette-gray-left, .figures-vignette-gray-right, .figures-vignette-left, .figures-vignette-right, .figures-vignette-white-left, .figures-vignette-white-right {
  background: url('../img/figures-s7ccf150643.png') no-repeat;
}

.figures-arrow-down-no-hole {
  background-position: 0 0;
}

.figures-arrow-down-with-hole {
  background-position: 0 -111px;
}

.figures-arrow-up {
  background-position: 0 -684px;
}

.figures-carousel-dots-active {
  background-position: 0 -709px;
}

.figures-carousel-dots-inactive {
  background-position: 0 -667px;
}

.figures-icon-chart {
  background-position: 0 -388px;
}

.figures-icon-cube {
  background-position: 0 -534px;
}

.figures-icon-devices {
  background-position: 0 -626px;
}

.figures-icon-dialog {
  background-position: 0 -430px;
}

.figures-icon-magn-glass {
  background-position: 0 -350px;
}

.figures-icon-pencil {
  background-position: 0 -580px;
}

.figures-icon-plane {
  background-position: 0 -494px;
}

.figures-icon-substrate {
  background-position: 0 -222px;
}

.figures-vignette-gray-left {
  background-position: 0 -762px;
}

.figures-vignette-gray-right {
  background-position: 0 -786px;
}

.figures-vignette-left {
  background-position: 0 -726px;
}

.figures-vignette-right {
  background-position: 0 -738px;
}

.figures-vignette-white-left {
  background-position: 0 -750px;
}

.figures-vignette-white-right {
  background-position: 0 -774px;
}

.brands-sprite, .brands-alfa-capital, .brands-american-eagle, .brands-bbw, .brands-bodyshop, .brands-d-and-g, .brands-justice, .brands-lasenza, .brands-lenovo, .brands-mothercare, .brands-pinkberry, .brands-starbucks {
  background: url('../img/brands-s9fd18cee72.png') no-repeat;
}

.brands-alfa-capital {
  background-position: 0 -519px;
}

.brands-american-eagle {
  background-position: 0 -147px;
}

.brands-bbw {
  background-position: 0 0;
}

.brands-bodyshop {
  background-position: 0 -255px;
}

.brands-d-and-g {
  background-position: 0 -643px;
}

.brands-justice {
  background-position: 0 -369px;
}

.brands-lasenza {
  background-position: 0 -427px;
}

.brands-lenovo {
  background-position: 0 -475px;
}

.brands-mothercare {
  background-position: 0 -578px;
}

.brands-pinkberry {
  background-position: 0 -327px;
}

.brands-starbucks {
  background-position: 0 -76px;
}

@font-face {
  font-family: "PFSquare Light";
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_B_0.woff') format('woff'), url('fonts/PFSquareSansPro_B_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Regular";
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_5_0.woff') format('woff'), url('fonts/PFSquareSansPro_5_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Medium";
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_9_0.woff') format('woff'), url('fonts/PFSquareSansPro_9_0.ttf') format('truetype');
}

a {
  text-decoration: none;
}

body > header {
  font-family: "PFSquare Light", Arial, sans-serif;
  width: 100%;
  height: 70px;
  background: #091523;
  color: #cdcece;
}
body > header .logo, body > header nav {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 100%;
}
body > header .logo {
  display: inline;
  float: left;
  margin-right: 0%;
  width: 30%;
  background: url("../img/logo/logo-small.png") right center no-repeat;
}
* html body > header .logo {
  overflow-x: hidden;
}
body > header a {
  color: #cdcece;
}
body > header a:hover, body > header a:focus, body > header a.active {
  color: #2da4dd;
}
body > header nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70%;
  text-align: right;
}
* html body > header nav {
  overflow-x: hidden;
}
body > header nav ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 1em;
}
body > header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}
body > header nav ul li:first-child, body > header nav ul li.first {
  padding-left: 0;
}
body > header nav ul li:last-child {
  padding-right: 0;
}
body > header nav ul li.last {
  padding-right: 0;
}
body > header nav ul li {
  line-height: 70px;
}
body > header nav ul.language {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0 3em 0 3em;
}
body > header nav ul.language li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0em;
  padding-right: 0em;
}
body > header nav ul.language li:first-child, body > header nav ul.language li.first {
  padding-left: 0;
}
body > header nav ul.language li:last-child {
  padding-right: 0;
}
body > header nav ul.language li.last {
  padding-right: 0;
}
body > header nav ul.language li:after {
  display: inline;
  content: "|";
  margin-left: 0.3em;
  margin-right: 0.3em;
}
body > header nav ul.language li:last-child:after {
  content: "";
}

.figures-sprite, .figures-arrow-down-no-hole, .figures-arrow-down-with-hole, .figures-arrow-up, .figures-carousel-dots-active, .figures-carousel-dots-inactive, .figures-icon-chart, .figures-icon-cube, .figures-icon-devices, .figures-icon-dialog, .figures-icon-magn-glass, .figures-icon-pencil, .figures-icon-plane, .figures-icon-substrate, .figures-vignette-gray-left, .figures-vignette-gray-right, .figures-vignette-left, .figures-vignette-right, .figures-vignette-white-left, .figures-vignette-white-right {
  background: url('../img/figures-s7ccf150643.png') no-repeat;
}

.figures-arrow-down-no-hole {
  background-position: 0 0;
}

.figures-arrow-down-with-hole {
  background-position: 0 -111px;
}

.figures-arrow-up {
  background-position: 0 -684px;
}

.figures-carousel-dots-active {
  background-position: 0 -709px;
}

.figures-carousel-dots-inactive {
  background-position: 0 -667px;
}

.figures-icon-chart {
  background-position: 0 -388px;
}

.figures-icon-cube {
  background-position: 0 -534px;
}

.figures-icon-devices {
  background-position: 0 -626px;
}

.figures-icon-dialog {
  background-position: 0 -430px;
}

.figures-icon-magn-glass {
  background-position: 0 -350px;
}

.figures-icon-pencil {
  background-position: 0 -580px;
}

.figures-icon-plane {
  background-position: 0 -494px;
}

.figures-icon-substrate {
  background-position: 0 -222px;
}

.figures-vignette-gray-left {
  background-position: 0 -762px;
}

.figures-vignette-gray-right {
  background-position: 0 -786px;
}

.figures-vignette-left {
  background-position: 0 -726px;
}

.figures-vignette-right {
  background-position: 0 -738px;
}

.figures-vignette-white-left {
  background-position: 0 -750px;
}

.figures-vignette-white-right {
  background-position: 0 -774px;
}

.brands-sprite, .brands-alfa-capital, .brands-american-eagle, .brands-bbw, .brands-bodyshop, .brands-d-and-g, .brands-justice, .brands-lasenza, .brands-lenovo, .brands-mothercare, .brands-pinkberry, .brands-starbucks {
  background: url('../img/brands-s9fd18cee72.png') no-repeat;
}

.brands-alfa-capital {
  background-position: 0 -519px;
}

.brands-american-eagle {
  background-position: 0 -147px;
}

.brands-bbw {
  background-position: 0 0;
}

.brands-bodyshop {
  background-position: 0 -255px;
}

.brands-d-and-g {
  background-position: 0 -643px;
}

.brands-justice {
  background-position: 0 -369px;
}

.brands-lasenza {
  background-position: 0 -427px;
}

.brands-lenovo {
  background-position: 0 -475px;
}

.brands-mothercare {
  background-position: 0 -578px;
}

.brands-pinkberry {
  background-position: 0 -327px;
}

.brands-starbucks {
  background-position: 0 -76px;
}

@font-face {
  font-family: "PFSquare Light";
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_B_0.woff') format('woff'), url('fonts/PFSquareSansPro_B_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Regular";
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_5_0.woff') format('woff'), url('fonts/PFSquareSansPro_5_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Medium";
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_9_0.woff') format('woff'), url('fonts/PFSquareSansPro_9_0.ttf') format('truetype');
}

a {
  text-decoration: none;
}

section.welcome {
  background: url("../img/backgrounds/bg-underwater.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$background-url, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(../img/backgrounds/bg-underwater.jpg, sizingMethod='scale')";
  position: relative;
  width: 100%;
  min-height: 898px;
  text-align: center;
}
section.welcome .hero {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 6em;
}
section.welcome .logo {
  background: url("../img/logo/logo-big.png") center center no-repeat;
  height: 183px;
  margin: 0 0 6em 0;
}
section.welcome .message {
  font-family: "PFSquare Light", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  margin: 0 0 3em 0;
}
section.welcome .message p {
  margin: 0;
  padding: 0;
}
section.welcome .scroll-down {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 71px;
  height: 111px;
}

.figures-sprite, .figures-arrow-down-no-hole, .figures-arrow-down-with-hole, .figures-arrow-up, .figures-carousel-dots-active, .figures-carousel-dots-inactive, .figures-icon-chart, .figures-icon-cube, .figures-icon-devices, .figures-icon-dialog, .figures-icon-magn-glass, .figures-icon-pencil, .figures-icon-plane, .figures-icon-substrate, .figures-vignette-gray-left, .figures-vignette-gray-right, .figures-vignette-left, .figures-vignette-right, .figures-vignette-white-left, .figures-vignette-white-right {
  background: url('../img/figures-s7ccf150643.png') no-repeat;
}

.figures-arrow-down-no-hole {
  background-position: 0 0;
}

.figures-arrow-down-with-hole {
  background-position: 0 -111px;
}

.figures-arrow-up {
  background-position: 0 -684px;
}

.figures-carousel-dots-active {
  background-position: 0 -709px;
}

.figures-carousel-dots-inactive {
  background-position: 0 -667px;
}

.figures-icon-chart {
  background-position: 0 -388px;
}

.figures-icon-cube {
  background-position: 0 -534px;
}

.figures-icon-devices {
  background-position: 0 -626px;
}

.figures-icon-dialog {
  background-position: 0 -430px;
}

.figures-icon-magn-glass {
  background-position: 0 -350px;
}

.figures-icon-pencil {
  background-position: 0 -580px;
}

.figures-icon-plane {
  background-position: 0 -494px;
}

.figures-icon-substrate {
  background-position: 0 -222px;
}

.figures-vignette-gray-left {
  background-position: 0 -762px;
}

.figures-vignette-gray-right {
  background-position: 0 -786px;
}

.figures-vignette-left {
  background-position: 0 -726px;
}

.figures-vignette-right {
  background-position: 0 -738px;
}

.figures-vignette-white-left {
  background-position: 0 -750px;
}

.figures-vignette-white-right {
  background-position: 0 -774px;
}

.brands-sprite, .brands-alfa-capital, .brands-american-eagle, .brands-bbw, .brands-bodyshop, .brands-d-and-g, .brands-justice, .brands-lasenza, .brands-lenovo, .brands-mothercare, .brands-pinkberry, .brands-starbucks {
  background: url('../img/brands-s9fd18cee72.png') no-repeat;
}

.brands-alfa-capital {
  background-position: 0 -519px;
}

.brands-american-eagle {
  background-position: 0 -147px;
}

.brands-bbw {
  background-position: 0 0;
}

.brands-bodyshop {
  background-position: 0 -255px;
}

.brands-d-and-g {
  background-position: 0 -643px;
}

.brands-justice {
  background-position: 0 -369px;
}

.brands-lasenza {
  background-position: 0 -427px;
}

.brands-lenovo {
  background-position: 0 -475px;
}

.brands-mothercare {
  background-position: 0 -578px;
}

.brands-pinkberry {
  background-position: 0 -327px;
}

.brands-starbucks {
  background-position: 0 -76px;
}

@font-face {
  font-family: "PFSquare Light";
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_B_0.woff') format('woff'), url('fonts/PFSquareSansPro_B_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Regular";
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_5_0.woff') format('woff'), url('fonts/PFSquareSansPro_5_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Medium";
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_9_0.woff') format('woff'), url('fonts/PFSquareSansPro_9_0.ttf') format('truetype');
}

a {
  text-decoration: none;
}

section.showcase > article {
  position: relative;
  height: 900px;
}

.figures-sprite, .figures-arrow-down-no-hole, .figures-arrow-down-with-hole, .figures-arrow-up, .figures-carousel-dots-active, .figures-carousel-dots-inactive, .figures-icon-chart, .figures-icon-cube, .figures-icon-devices, .figures-icon-dialog, .figures-icon-magn-glass, .figures-icon-pencil, .figures-icon-plane, .figures-icon-substrate, .figures-vignette-gray-left, .figures-vignette-gray-right, .figures-vignette-left, .figures-vignette-right, .figures-vignette-white-left, .figures-vignette-white-right {
  background: url('../img/figures-s7ccf150643.png') no-repeat;
}

.figures-arrow-down-no-hole {
  background-position: 0 0;
}

.figures-arrow-down-with-hole {
  background-position: 0 -111px;
}

.figures-arrow-up {
  background-position: 0 -684px;
}

.figures-carousel-dots-active {
  background-position: 0 -709px;
}

.figures-carousel-dots-inactive {
  background-position: 0 -667px;
}

.figures-icon-chart {
  background-position: 0 -388px;
}

.figures-icon-cube {
  background-position: 0 -534px;
}

.figures-icon-devices {
  background-position: 0 -626px;
}

.figures-icon-dialog {
  background-position: 0 -430px;
}

.figures-icon-magn-glass {
  background-position: 0 -350px;
}

.figures-icon-pencil {
  background-position: 0 -580px;
}

.figures-icon-plane {
  background-position: 0 -494px;
}

.figures-icon-substrate {
  background-position: 0 -222px;
}

.figures-vignette-gray-left {
  background-position: 0 -762px;
}

.figures-vignette-gray-right {
  background-position: 0 -786px;
}

.figures-vignette-left {
  background-position: 0 -726px;
}

.figures-vignette-right {
  background-position: 0 -738px;
}

.figures-vignette-white-left {
  background-position: 0 -750px;
}

.figures-vignette-white-right {
  background-position: 0 -774px;
}

.brands-sprite, .brands-alfa-capital, .brands-american-eagle, .brands-bbw, .brands-bodyshop, .brands-d-and-g, .brands-justice, .brands-lasenza, .brands-lenovo, .brands-mothercare, .brands-pinkberry, .brands-starbucks {
  background: url('../img/brands-s9fd18cee72.png') no-repeat;
}

.brands-alfa-capital {
  background-position: 0 -519px;
}

.brands-american-eagle {
  background-position: 0 -147px;
}

.brands-bbw {
  background-position: 0 0;
}

.brands-bodyshop {
  background-position: 0 -255px;
}

.brands-d-and-g {
  background-position: 0 -643px;
}

.brands-justice {
  background-position: 0 -369px;
}

.brands-lasenza {
  background-position: 0 -427px;
}

.brands-lenovo {
  background-position: 0 -475px;
}

.brands-mothercare {
  background-position: 0 -578px;
}

.brands-pinkberry {
  background-position: 0 -327px;
}

.brands-starbucks {
  background-position: 0 -76px;
}

@font-face {
  font-family: "PFSquare Light";
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_B_0.woff') format('woff'), url('fonts/PFSquareSansPro_B_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Regular";
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_5_0.woff') format('woff'), url('fonts/PFSquareSansPro_5_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Medium";
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_9_0.woff') format('woff'), url('fonts/PFSquareSansPro_9_0.ttf') format('truetype');
}

a {
  text-decoration: none;
}

.curved-border {
  position: relative;
  width: 100%;
  height: 21px;
  margin-top: -21px;
  background: url("../img/backgrounds/bg-curve-gray.png") repeat-x;
}

section.proficiencies {
  margin-top: -21px;
  background: url("../img/backgrounds/bg-scheme.png") center center no-repeat;
  background-color: #f7f7f7;
}

.figures-sprite, .figures-arrow-down-no-hole, .figures-arrow-down-with-hole, .figures-arrow-up, .figures-carousel-dots-active, .figures-carousel-dots-inactive, .figures-icon-chart, .figures-icon-cube, .figures-icon-devices, .figures-icon-dialog, .figures-icon-magn-glass, .figures-icon-pencil, .figures-icon-plane, .figures-icon-substrate, .figures-vignette-gray-left, .figures-vignette-gray-right, .figures-vignette-left, .figures-vignette-right, .figures-vignette-white-left, .figures-vignette-white-right {
  background: url('../img/figures-s7ccf150643.png') no-repeat;
}

.figures-arrow-down-no-hole {
  background-position: 0 0;
}

.figures-arrow-down-with-hole {
  background-position: 0 -111px;
}

.figures-arrow-up {
  background-position: 0 -684px;
}

.figures-carousel-dots-active {
  background-position: 0 -709px;
}

.figures-carousel-dots-inactive {
  background-position: 0 -667px;
}

.figures-icon-chart {
  background-position: 0 -388px;
}

.figures-icon-cube {
  background-position: 0 -534px;
}

.figures-icon-devices {
  background-position: 0 -626px;
}

.figures-icon-dialog {
  background-position: 0 -430px;
}

.figures-icon-magn-glass {
  background-position: 0 -350px;
}

.figures-icon-pencil {
  background-position: 0 -580px;
}

.figures-icon-plane {
  background-position: 0 -494px;
}

.figures-icon-substrate {
  background-position: 0 -222px;
}

.figures-vignette-gray-left {
  background-position: 0 -762px;
}

.figures-vignette-gray-right {
  background-position: 0 -786px;
}

.figures-vignette-left {
  background-position: 0 -726px;
}

.figures-vignette-right {
  background-position: 0 -738px;
}

.figures-vignette-white-left {
  background-position: 0 -750px;
}

.figures-vignette-white-right {
  background-position: 0 -774px;
}

.brands-sprite, .brands-alfa-capital, .brands-american-eagle, .brands-bbw, .brands-bodyshop, .brands-d-and-g, .brands-justice, .brands-lasenza, .brands-lenovo, .brands-mothercare, .brands-pinkberry, .brands-starbucks {
  background: url('../img/brands-s9fd18cee72.png') no-repeat;
}

.brands-alfa-capital {
  background-position: 0 -519px;
}

.brands-american-eagle {
  background-position: 0 -147px;
}

.brands-bbw {
  background-position: 0 0;
}

.brands-bodyshop {
  background-position: 0 -255px;
}

.brands-d-and-g {
  background-position: 0 -643px;
}

.brands-justice {
  background-position: 0 -369px;
}

.brands-lasenza {
  background-position: 0 -427px;
}

.brands-lenovo {
  background-position: 0 -475px;
}

.brands-mothercare {
  background-position: 0 -578px;
}

.brands-pinkberry {
  background-position: 0 -327px;
}

.brands-starbucks {
  background-position: 0 -76px;
}

@font-face {
  font-family: "PFSquare Light";
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_B_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_B_0.woff') format('woff'), url('fonts/PFSquareSansPro_B_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Regular";
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_5_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_5_0.woff') format('woff'), url('fonts/PFSquareSansPro_5_0.ttf') format('truetype');
}

@font-face {
  font-family: "PFSquare Medium";
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")');
  src: url('fonts/eot("PFSquareSansPro_9_0.eot")?#iefix') format('eot'), url('fonts/PFSquareSansPro_9_0.woff') format('woff'), url('fonts/PFSquareSansPro_9_0.ttf') format('truetype');
}

a {
  text-decoration: none;
}

section.showcase > article.lenovo .promo {
  background: url("../img/showcase/lenovo/bg.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$background-url, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(../img/showcase/lenovo/bg.jpg, sizingMethod='scale')";
  height: 666px;
}
section.showcase > article.lenovo figure {
  position: absolute;
  bottom: 40px;
  left: 85px;
  white-space: nowrap;
}
section.showcase > article.lenovo figure img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 180px;
}
section.showcase > article.lenovo figure figcaption {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 230px 0 0 30px;
}
section.showcase > article.lenovo figure figcaption h3 {
  font-family: "PFSquare Regular", Arial, sans-serif;
  font-size: 2.2em;
  background: #081522;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: 0 0 0.8em 0;
  line-height: 1em;
  padding: 0.25em 0.25em 0em 0.25em;
}
section.showcase > article.lenovo figure figcaption p {
  margin: 0.3em 0 0 0;
}
section.showcase > article.lenovo figure figcaption p span {
  font-family: "PFSquare Regular", Arial, sans-serif;
  padding: 0.3em 0.3em 0 0.3em;
  font-size: 1.2em;
  color: #081522;
  background-color: #f6f6f6;
}
section.showcase > article.lenovo figure figcaption p span.highlighted {
  font-family: "PFSquare Medium", Arial, sans-serif;
  color: white;
  background-color: #2da4dd;
}
