// Global variables
	// Grid
$blueprint_grid_columns: 10;
$blueprint_grid_width: 10%;
$blueprint_grid_margin: 0%;
	// Variables
$top-menu-height: 70px;
$-small-screen-top-menu-height: 100px;
$-small-screen-side-offset: 30px;
$min-showcase-height: 666px;
	// Colors
$dark-blue: #081522;

// Dependencies
@import "compass/css3/inline-block";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/inline-block-list"; 
@import "compass/typography/lists/bullets";
@import "compass/utilities/sprites";
@import "compass/css3/background-size";
@import "blueprint/grid";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

// Sprites
	// small images
$figures-spacing: 2px;	// ie fix
@import "figures/*.png";
$figures-sprite-dimensions: true;
@include all-figures-sprites;
	// small figures for mobile devices
$figures-small-spacing: 2px;
@import "figures-small/*.png";
$figures-small-sprite-dimensions: true;
@include all-figures-small-sprites;
	// small brands logotypes
$brands-spacing: 5px;
@import "brands/*.png";
$brands-sprite-dimensions: true;
@include all-brands-sprites;

// Fonts
@font-face {font-family: 'PFSquareSansPro-BoldItalic';src: url('fonts/29062D_0_0.eot');src: url('fonts/29062D_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_0_0.woff') format('woff'),url('fonts/29062D_0_0.ttf') format('truetype'),url('fonts/29062D_0_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-ThinItalic';src: url('fonts/29062D_1_0.eot');src: url('fonts/29062D_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_1_0.woff') format('woff'),url('fonts/29062D_1_0.ttf') format('truetype'),url('fonts/29062D_1_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Italic';src: url('fonts/29062D_2_0.eot');src: url('fonts/29062D_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_2_0.woff') format('woff'),url('fonts/29062D_2_0.ttf') format('truetype'),url('fonts/29062D_2_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Thin';src: url('fonts/29062D_3_0.eot');src: url('fonts/29062D_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_3_0.woff') format('woff'),url('fonts/29062D_3_0.ttf') format('truetype'),url('fonts/29062D_3_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Bold';src: url('fonts/29062D_4_0.eot');src: url('fonts/29062D_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_4_0.woff') format('woff'),url('fonts/29062D_4_0.ttf') format('truetype'),url('fonts/29062D_4_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Regular';src: url('fonts/29062D_5_0.eot');src: url('fonts/29062D_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_5_0.woff') format('woff'),url('fonts/29062D_5_0.ttf') format('truetype'),url('fonts/29062D_5_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-ExtraBlackItalic';src: url('fonts/29062D_6_0.eot');src: url('fonts/29062D_6_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_6_0.woff') format('woff'),url('fonts/29062D_6_0.ttf') format('truetype'),url('fonts/29062D_6_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-LightItalic';src: url('fonts/29062D_7_0.eot');src: url('fonts/29062D_7_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_7_0.woff') format('woff'),url('fonts/29062D_7_0.ttf') format('truetype'),url('fonts/29062D_7_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-ExtraBlack';src: url('fonts/29062D_8_0.eot');src: url('fonts/29062D_8_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_8_0.woff') format('woff'),url('fonts/29062D_8_0.ttf') format('truetype'),url('fonts/29062D_8_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Medium';src: url('fonts/29062D_9_0.eot');src: url('fonts/29062D_9_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_9_0.woff') format('woff'),url('fonts/29062D_9_0.ttf') format('truetype'),url('fonts/29062D_9_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-MediumItalic';src: url('fonts/29062D_A_0.eot');src: url('fonts/29062D_A_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_A_0.woff') format('woff'),url('fonts/29062D_A_0.ttf') format('truetype'),url('fonts/29062D_A_0.svg#wf') format('svg');}
@font-face {font-family: 'PFSquareSansPro-Light';src: url('fonts/29062D_B_0.eot');src: url('fonts/29062D_B_0.eot?#iefix') format('embedded-opentype'),url('fonts/29062D_B_0.woff') format('woff'),url('fonts/29062D_B_0.ttf') format('truetype'),url('fonts/29062D_B_0.svg#wf') format('svg');}
 

// Mixins
@mixin PFSquareFont($type) {
	font-family: "PFSquareSansPro-" + $type, Arial, sans-serif;
}

@mixin cover-background($background-url, $attachment: scroll) {
	background: url($background-url) no-repeat center center;
	background-attachment: $attachment;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// IE support
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$background-url, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(" + $background-url + ", sizingMethod='scale')";
}

@mixin section-header($color, $background-color, $additional-elements: false) {
	@include inline-block;
	@include PFSquareFont('Regular');
	position: relative;
	color: $color;
	font-size: 2em;
	background: $background-color;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 0.8em 0;
	padding: 0.25em 0.25em 0.15em 0.25em;
	line-height: 1em;
	letter-spacing: 0.05em;
	white-space: nowrap;

	@include respond-to(small-screen) {
		margin: 1em 0 1em 0;
	}

	// additional elements are those mustaches at sides of header
	@if ($additional-elements) {

		$width: 40px;
		$height: 12px;

		// set required element class here
		@if ($additional-elements == 'dark') {
			&:before { @extend .figures-vignette-left };
			&:after { @extend .figures-vignette-right };
		}

		@if ($additional-elements == 'white') {
			&:before { @extend .figures-vignette-white-left };
			&:after { @extend .figures-vignette-white-right };
		}

		@if ($additional-elements == 'gray') {
			&:before { @extend .figures-vignette-gray-left };
			&:after { @extend .figures-vignette-gray-right };
		}

		&:before {
			left: (-$width);
		}

		&:after {
			right: (-$width);
		}

		&:before, &:after {
				position: absolute;
				top: 50%;
				margin-top: (-$height/2);
				content: "";
				width: $width;
				height: $height;
		}
	}
}

// Credits to Nicolas Gallagher micro clearfix
@mixin clearfix() {
    /* For IE 6/7 (trigger hasLayout) */
    *zoom:1;

	/* For modern browsers */
    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after {
        clear:both;
    }
}

// Enables hardware acceleration. Use this to optimize animation
@mixin hardware-acceleration {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

// Manages media queries breakpoints
$break-small: 1136px;
$break-small-height: 800px;

@mixin respond-to($media) {
  @if $media == small-screen {
    @media only screen and (max-width: $break-small)
		{ @content; }
  }
  @if $media == small-height {
  	@media only screen and (max-height: $break-small-height) { @content; }	
  }
}

// Fixes IE transparency bug
@mixin ie-transparency() {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

// Global styles
a {
	@include transition(color 0.3s ease-out);
	text-decoration: none;
}

$min-width: 1136px;
$small-screen-min-width: 640px;

html, body {
	height: 100%;
}

body {
	@include PFSquareFont("Regular");
	min-width: $min-width;
	@include respond-to(small-screen) {
		font-size: 1.5em;
		min-width: $small-screen-min-width;
	}
}

html.no-touch { 
	@media only screen and (min-width: $min-width) {
		// Most touch devices and narrow screens handle fixed position badly
		body > header {
			position: fixed;
		}

		// compensate fixed header
		section.welcome {
			margin-top: $top-menu-height;
		}
	}
}

.small-screen-collapsable {
	@include respond-to(small-screen) {
		&.collapsed {
			display: none;
		}
	}
}

// Hack for apple devices that can't properly render fixed background
html.touch * {
	background-attachment: scroll !important;
}
