@import "base";

$top-menu-background-color: #091523;
$top-menu-color: #cdcece;

body > header {
	@include PFSquareFont('Light');
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: $top-menu-height;
	background: $top-menu-background-color;
	color: $top-menu-color;
	line-height: $top-menu-height;

	@include respond-to(small-screen) {
		position: relative;
		height: auto;
		// preventing header from jumping upon image load
		min-height: $-small-screen-top-menu-height * 1.1;
		line-height: $-small-screen-top-menu-height;
		font-size: 1.5em;
	}

	.logo, nav {
		@include inline-block;
		height: 100%;
	}

	.logo {
		@include column(3);
		background: url("../img/logo/logo-small.png") right center no-repeat;

		@include respond-to(small-screen) { 
			display: none;
		}
	}

	a {
		color: $top-menu-color;

		&:hover, &:focus, &.active {
			color: #2da4dd;
		}
	}

	nav {
		@include column(7, true);
		text-align: right;

		@include respond-to(small-screen) { 
			float: none;
			width: 100%;
		}

		.menu-holder {
			display: none;
			line-height: $-small-screen-top-menu-height;
			padding: 0;
			margin: 0;

			.figures-menu {
				@include inline-block;
				vertical-align: middle;
				margin-left: $-small-screen-side-offset;
			}

			@include respond-to(small-screen) {
				display: block;
				float: left;
			}
		}

		ul {
			$gap: 1em;

			@include inline-block;
			@include horizontal-list($gap);

			@include respond-to(small-screen) { 
				display: block;
				text-align: left;
				padding-bottom: 0.5em;
			}

			li, li:first-child {
				@include respond-to(small-screen) { 
					display: block;
					float: none;
					background: $top-menu-background-color;
					padding-left: $-small-screen-side-offset;
				}
			}

			&.language {
				@include horizontal-list(0em);
				margin: 0 3*$gap 0 3*$gap;
				float: right;

				@include respond-to(small-screen) { 
					@include box-sizing(border-box);
					display: block;
					width: 100%;
					margin: 0;
					padding: 0 $-small-screen-side-offset 0 0;
					text-align: right;
					float: none;

					li {
						@include inline-block();
						float: none;
					}
				}

				// Sadly IE8 does not support last-child
				// so we shall use first-child unless 
				// there are more than 2 languages
				li:first-child:after {
					display: inline;
					content: "|";
					margin-left: 0.3em;
					margin-right: 0.3em;
				}
			}
		}
	}
}

// ie fix
html.lt-ie9 body > header {
	position: relative;
}