@import 'base';

$delimeter-height: 20px;

.curved-border {
	position: relative;
	width: 100%;
	height: $delimeter-height;
	margin-top: (-$delimeter-height);
	background: url("../img/backgrounds/bg-curve-gray.png") repeat-x;
}

section.proficiencies {
	@include cover-background('../img/backgrounds/bg-scheme.png', fixed);	
	background-color: #f7f7f7;
	text-align: center;
	padding: 100px 50px 40px 50px;

	h2 {
		@include section-header(#f5f5f5, $dark-blue, 'dark');
	}

	> ul {
		$item-width: 370px;		

		@include inline-block-list-container;
		display: block;
		position: relative;
		// 3 column list
		max-width: 3 * $item-width;
		margin: 70px auto 0 auto;
		white-space: normal;
		// intend sets block to visual center (not actual)
		padding-left: 10em;

		> li {
			@include inline-block-list-item;
			@include PFSquareFont("Regular");
			box-sizing: border-box;
			width: $item-width;
			height: auto;
			vertical-align: top;
			text-align: left;
			margin: 0;
			margin-bottom: 50px;

			h3, ul {
				padding: 0 0 0 14px;
			}

			h3 {
				text-transform: uppercase;
			}

			ul {
				@include no-bullets;
			}

			ul.pipe-separated {
				white-space: normal;

				li {
					display: inline;

					&:first-child:before {
						content: "";
					}

					&:last-child:before {
						content: "";
					}

					&:before {
						content: "| ";
					}
				}
			}
		}
	}
}
