@import "base";

section.welcome {
	$gap: 3em;

	@include cover-background("../img/backgrounds/bg-underwater.jpg", fixed);
	position: relative;
	width: 100%;
	min-height: 800px;
	text-align: center;
	z-index: $section-z-index - 7;

	@include respond-to(small-height) {
		min-height: 500px;
	}

	@include respond-to(small-screen) { 
		margin-top: 0;
	}

	@include respond-to(old-handheld) {
		min-height: 500px;
	}

	.hero {
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 2*$gap;
		z-index: $section-z-index - 1;

		@include respond-to(small-screen) { 
			position: absolute;
			bottom: $gap/2;
		}

		@include respond-to(small-height) {
			position: absolute;
			bottom: $gap/2;
		}
	}

	.logo {
		height: auto;
		max-width: 533px;
		margin: 0 auto 2*$gap auto;

		@include respond-to(small-screen) { 
			margin-bottom: $gap;
			width: 70%
		}		

		@include respond-to(small-height) {
			margin-bottom: $gap/2;
		}
	}

	.message {
		@include PFSquareFont('Light');
		text-transform: uppercase;

		font-size: 1.6em;

		color: white;

		margin: 0 0 $gap 0;

		@include respond-to(small-screen) { 
			margin-bottom: $gap/2;
		}

		@include respond-to(small-height) {
			margin-bottom: $gap/3;	
			font-size: 1em;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	.scroll-down {
		@include inline-block;
		@include transition(all 2s ease-out 0);
		width: 71px;
		height: 111px;

		&.scrolled {
			@include opacity(0);
			@include transition(all 1s ease-out 0);
		}
	}

	.bubbles {
		z-index: $section-z-index - 6;
		overflow: hidden;

		&, > div {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.left {
			position: absolute;
			bottom: 0;
			left: -5%;
		}

		.right {
			position: absolute;
			bottom: 0;
			right: -5%;
		}

		.back, .front-big, .front-small, .middle{
			@include transition(bottom 1.0s ease-out);
			@include hardware-acceleration;

			img {
				width: 40%;
			}
		}

		.back {
			z-index: $section-z-index - 5;
			bottom: 0;

			img {
				bottom: -20%;
			}
		}

		.middle {
			z-index: $section-z-index - 4;
		}

		.front-big {
			z-index: $section-z-index - 3;
		}

		.front-small {
			z-index: $section-z-index - 2;
		}
	}
}


html.touch section.welcome .hero {
	position: absolute;
}


html.lt-ie9 section.welcome {
	margin-top: 0px;
	margin-bottom: -1px;
}