@import "base";

section.welcome {
	$gap: 3em;

	@include cover-background("../img/backgrounds/bg-underwater.jpg", fixed);
	position: relative;
	width: 100%;
	min-height: 800px;
	text-align: center;


	@include respond-to(small-height) {
		min-height: 500px;	
	}

	@include respond-to(small-screen) { 
		margin-top: 0;
	}

	.hero {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 2*$gap;
		z-index: 20;

		@include respond-to(small-screen) { 
			bottom: $gap/2;
		}

		@include respond-to(small-height) {
			bottom: $gap/2;	
		}
	}

	.logo {
		background: url("../img/logo/logo-big.png") center center no-repeat;
		height: 183px;
		max-width: 533px;
		margin: 0 auto 2*$gap auto;

		@include respond-to(small-screen) { 
			margin-bottom: $gap;
		}		

		@include respond-to(small-height) {
			margin-bottom: $gap/2;
		}
	}

	.message {
		@include PFSquareFont('Light');
		text-transform: uppercase;

		font-size: 1.6em;

		color: white;

		margin: 0 0 $gap 0;

		@include respond-to(small-screen) { 
			margin-bottom: $gap/2;
		}

		@include respond-to(small-height) {
			margin-bottom: $gap/3;	
			font-size: 1em;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	.scroll-down {
		@include inline-block;
		width: 71px;
		height: 111px;
	}

	.bubbles {
		z-index: 10;
		overflow: hidden;

		&, > div {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.left {
			position: absolute;
			bottom: 0;
			left: -5%;
		}

		.right {
			position: absolute;
			bottom: 0;
			right: -5%;
		}

		.back, .front, .focused{
			@include transition(bottom 1.0s ease-out);
			@include hardware-acceleration;

			img {
				width: 40%;
			}
		}

		.back {
			z-index: 11;
			bottom: 0;

			img {
				bottom: -20%;
			}
		}


		.focused {
			z-index: 12;

			.left {
			}

			.right {
			}
		}

		.front {
			z-index: 13;

			.left {
			}

			.right {
			}
		}
	}
}

html.lt-ie9 section.welcome {
	margin-top: 0px;
	margin-bottom: -1px;
}