article.showcase-item.lenovo
	div.promo
	figure
		img.big-screen(src="/img/showcase/lenovo/display.png", alt="Lenovo")
		img.small-screen(src="/img/showcase/lenovo/logo.png", alt="Lenovo")
		figcaption
			- var data = env.helpers.getLocalizedContent(contents, page, 'sections/showcase/lenovo.json')
			h3= data.header
			p
				span.highlighted= data.subheader
			each row in data.rows
				p 
					span!= row
