article.showcase-item.lenovo
	div.promo
	figure
		img(src="img/showcase/lenovo/display.png")
		figcaption	
			h3 adawddawaddaaddaad
			p
				span.highlighted 123131311LENOVO в social media
			p 
				span 30&thinsp;000 31313фанов в сообществах в VK
			p 
				span Facebook и Twitter