article.showcase-item.lenovo
	div.promo
	figure
		img.big-screen(src="img/showcase/lenovo/display.png", alt="Lenovo")
		img.small-screen(src="img/showcase/lenovo/logo.png", alt="Lenovo")
		figcaption
			h3 Доступные технологии
			p
				span.highlighted LENOVO в social media
			p 
				span 30&thinsp;000 фанов в сообществах в VK
			p 
				span Facebook и Twitter