article.showcase-item.lenovo
	div.promo
	figure
		img.big-screen(src="img/showcase/lenovo/display.png", alt="Lenovo")
		img.small-screen(src="img/showcase/lenovo/logo.png", alt="Lenovo")
		figcaption
			- var data = contents.sections.showcase['lenovo.json'].metadata
			h3= data.header
			p
				span.highlighted= data.subheader
			each row in data.rows
				p 
					span!= row
