section.about
	div.device
		div.message
			h2 О компании
			p <strong>#electricriver</strong> — полносервисное digital агентство нового поколения с фокусом на social media. Мы создаем продукты, помогающие брендам постоянно впечатлять свою аудиторию и быть на вершине цифрового мира и мира социальных сетей.

			p <strong>#electricriver</strong> — это команда профессионалов, объединяющая в себе продюсеров, креаторов, комьюнити-менеджеров, копирайтеров, разработчиков, стратегов и аналитиков для создания лучших проектов для smm и digital рынка.

			p <strong>Наша миссия</strong>: создавать эффективные интерактивные активации, предоставлять качественный сервис для наших клиентов и быть просто хорошими людьми.