section.about#about
	div.device
		div.message
			- var data = env.helpers.getLocalizedContent(contents, page, 'sections/about.json')
			h2= data.header
			each paragraph in data.paragraphs
				p!= paragraph
			