- var data = env.helpers.getLocalizedContent(contents, page, 'sections/clients.json')
section.clients#clients
    h2= data.header
    ul
        //- IMPORTANT
        //- Pipe syntax is used to remove spaces between inline-block element.
        //- <li /> elements are generated as plain html text and their content
        //- has no indendation to preven jaid render error.
        each brand, i in data.clients
            if i == 0
                | <li>
            else
                | ><li>

            span(class="brands-#{brand}")
            | </li
        |>
