section.clients#clients
    h2 Наши клиенты
    ul
        - var data = contents.sections['clients.json'].metadata
        //- IMPORTANT
        //- Pipe syntax is used to remove spaces between inline-block element.
        //- <li /> elements are generated as plain html text and their content
        //- has no indendation to preven jaid render error.
        each brand, i in data.clients
            if i == 0
                | <li>
            else
                | ><li>

            span(class="brands-#{brand}")
            | </li
        |>
