section.showcase.fotorama#showcase(data-width="100%" data-arrows="false" data-navposition="top" data-margin="0" data-loop="true" data-auto="false")
    //- Include showcases in current section
    include showcase/lenovo
    include showcase/d-n-g