section.welcome
	div.hero
		div.logo
		div.message
			p Full scope of digital
			p and social media
			p on one shore
		div.scroll-down.figures-arrow-down-with-hole
	div.bubbles
		div.back
			div.right.bubbles-back-right
			div.left.bubbles-back-left
		div.front
			div.right.bubbles-front-right
			div.left.bubbles-front-left
		div.focused
			div.right.bubbles-focus-right
			div.left.bubbles-focus-right
