section.welcome#welcome
	div.hero
		div.logo
		div.message
			- var rows = env.helpers.getLocalizedContent(contents, page, 'sections/welcome.json').rows
			- for (var i=0; i <= rows.length; i++) {
				p= rows[i]
			- }
		a.scroll-down.figures-arrow-down-with-hole(href='#showcase')
	div.bubbles
		div.back
			img(src="/img/bubbles/back-left.png", class="left", alt="Bubbles");
			img(src="/img/bubbles/back-right.png" class="right", alt="Bubbles");
		div.focused
			img(src="/img/bubbles/focus-left.png", class="left", alt="Bubbles");
			img(src="/img/bubbles/focus-right.png" class="right", alt="Bubbles");
		div.front
			img(src="/img/bubbles/front-left.png", class="left", alt="Bubbles");
			img(src="/img/bubbles/front-right.png" class="right", alt="Bubbles");
