header
	div.collapsed-menu
		div.figures-menu
	div.logo
	nav
		ul
			li 
				a(href="#about") О компании
			li 
				a(href="#showcase") Кейсы
			li 
				a(href="#proficiencies") Услуги
			li 
				a(href="#clients") Клиенты
			li 
				a(href="#feedback") Обратная связь
		ul.language
			li
				a(href="#").active RUS
			li
				a(href="#") ENG
