header#header
    a(href="#welcome")
        div.logo
    nav
        div.menu-holder
            div.figures-menu
        ul.language
            li
                a(href="#").active RUS
            li
                a(href="#") ENG
        ul.small-screen-collapsable.collapsed
            li 
                a(href="#about") О компании
            li 
                a(href="#showcase") Кейсы
            li 
                a(href="#proficiencies") Услуги
            li 
                a(href="#clients") Клиенты
            li 
                a(href="#feedback") Обратная связь

