extends layout
block append content
    include header

    include sections/welcome

    include sections/showcase

    include sections/proficiencies

    include sections/about

    include sections/clients 

    include footer

block append styles
    link(rel='stylesheet', href='css/styles.css')
