@import 'base';

.showcase .lenovo {
	// Some strange ipad bug with 1px height gap at top of section
	@include respond-to(small-width) { 
		margin-top: -1px;
	}

	// The same problem with iphone but at bottom of section.
	// Bringing margin and padding reset out of media query doesn't work (why?)
	@include respond-to(small-screen) { 
		margin: 0;
		padding: 0;
	}

	.promo {
		@include cover-background('../img/showcase/lenovo/bg.jpg', scroll);
		height: 75%;
		max-height: $min-showcase-height;

		@include respond-to(small-screen) { 
			height: 100%;
			max-height: none;
			@include cover-background('../img/showcase/lenovo/bg_small.jpg', scroll);
			background-position: right 50%;
		}
	}

	figure {
			@extend %showcase_hero;

			img.big-screen {
				@include respond-to(small-width) {
					width: 40%;
				}
			}
	}
}