@import 'base';

.showcase .lenovo {
	.promo {
		@include cover-background('../img/showcase/lenovo/bg.jpg', scroll);
		height: 75%;
		max-height: $min-showcase-height;

		@include respond-to(small-screen) { 
			height: 100%;
			max-height: none;
			@include cover-background('../img/showcase/lenovo/bg_small.jpg', scroll);
			background-position: right 50%;
		}
	}

	figure {
		position: absolute;
		bottom: 40px;
		right: 50%;
		margin-right: -20em;
		white-space: nowrap;

		@include respond-to(small-screen) {
			top: 0;
			left: $-small-screen-side-offset;
		}

		img.big-screen {
			@include inline-block;
			margin-top: 180px;
			width: 60%;
			max-width: 659px;

			@include respond-to(small-screen) {
				display: none;
			}
		}

		img.small-screen {
			display: none;

			@include respond-to(small-screen) {
				display: block;
				margin-bottom: 1em;
			}
		}

		figcaption {
			@include inline-block;
			margin: 230px 0 0 30px;

			@include respond-to(small-screen) {
				margin: 0;
			}

			h3 {
				@include PFSquareFont('Regular');
				@include section-header(#f5f5f5, $dark-blue, 'none');
				font-size: 2.4em;

				@include respond-to(small-screen) {
					font-size: 1.7em;
				}
			}

			p {
				margin: 0.3em 0 0 0;

				span {
					@include PFSquareFont('Regular');					
					padding: 0.3em 0.3em 0 0.3em;
					font-size: 1.2em;
					color: $dark-blue;
					background-color: #f6f6f6;

					&.highlighted {
						@include PFSquareFont('Medium');						
						color: white;
						background-color: #2da4dd;
					}
				}
			}
		}

	}
}